@import '../../css/variables.module.scss';
.container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-primary;
    

    .heading {
        color: $color-heading-text;
        margin-bottom: 2rem;
        font-size: 3.5rem;
    }
    
    .containerSlider {
        display: flex;
    justify-content: center;
    align-items: center;
    }

    .image {
        height: 15rem;
        width: 25rem;
        border-radius: 2rem;
        z-index: 10;
        transition: all .5s;

        &:hover {
            transform: scale(1.1);
        }
    }
    .right_arrow {
        font-size: 3rem;
        color: $color-button;
        z-index: 5;
        cursor: pointer;
    }
    .left_arrow {
        font-size: 3rem;
        color: $color-button;
        z-index: 5;
        cursor: pointer;
    }
    .slide {
        transition-duration: 1s ease;
        opacity: 0;
    }
    .slide_active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.1);
    }
    .lewyImage, .prawyImage{
        transform: scale(.7);
        opacity: .5;
    }

    .dots{
        font-size: 0;
        display: flex;
        bottom: 250px;
        margin-top: 50px;
        

        > div {
            background-color: black;
            width: 22px;
            height: 22px;
            margin: 0 8px;
            border-radius: 50%;
            cursor: pointer;
            opacity: .7;
            transition: all .5s;
        &:hover {
            transform: scale(1.2);
        }
        }
        
        .red{
            background-color: red;
            transform: scale(1.3);
            opacity: 1;
            &:hover {
                transform: scale(1.6);
            }
        }
    }
    .text {
        text-align: center;
        margin: 2rem;
        width: 30rem;
    }
}