@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 100%;
    body {
        box-sizing: border-box;
        font-family: 'Edu QLD Beginner';
        
        
    }
    @media only screen and (max-width: 900px) {
        body {
            box-sizing: border-box;
            margin: 0;
        }
      }
    

}
